# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# 서퍼 API 키
.env
# 가상환경
.venv/
# 모델
models/
*.safetensors
vector DB
cache
uploads